html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    margin-bottom: 20px;
}

/* Loading Panel CSS */
.load-panel {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(251 188 57 / 1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.animate-panel {
    animation: slide-in 0.2s linear forwards;
}

.load-panel img {
    width: 300px;
}

.load-panel h2 {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: black;
}

@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

.load-panel-text {
    display: flex;
    align-items: end;
    justify-content: end;
}

.load-panel-text h2 {
    margin-right: 5px;
    font-size: 24px;
    line-height: 16px;
}

.dot {
    height: 5px;
    width: 5px;
    margin-right: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    animation: dot-load 0.9s ease-out infinite;
}

#dot-1 {
    animation-delay: 0s;
}

#dot-2 {
    animation-delay: .2s;
}

#dot-3 {
    animation-delay: .4s;
}

@keyframes dot-load {

    0%,
    40%,
    100% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-4px);
    }
}

/* Tabs Container */

.tabs-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px 0;
}

.tab {
    display: flex;
    justify-content: center;
    width: 135px;
    border: 1px solid #d2d2d2;
    background-color: white;
    padding: 12px 0;
    border-radius: 20px;
    cursor: pointer;
}

.tab-active {
    background-color: rgba(251 188 57 / 1);
}

.tab span {
    font-size: 12px;
    font-weight: 700;
    color: color;
}

/* Main content table */
.container-v {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-container {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}

.main-header {
    padding: 5px 0;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
}

.main-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.container-reset {
    width: 100%;
}

.content-hide {
    display: none;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    text-align: center;
    font-size: 13px;
}

thead tr {
    color: #8d8d8d;
    font-weight: 600;
    border-bottom: 1px solid #d4d4d4;
}

thead-reg th:nth-child(1) {
    width: 40%;
    text-align: left;
}

thead-reg th:nth-child(2) {
    width: 20%;
}

thead-reg th:nth-child(3) {
    width: 20%;
}

thead-reg th:nth-child(4) {
    width: 20%;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    color: rgb(31, 31, 31);
    font-weight: 400;
}

th,
td {
    padding: 15px;
}

#data-table-container {
    width: 100%;
    max-width: 600px;
}

.text-left {
    text-align: left;
}

@media (max-width: 425px) {
    table {
        font-size: 12px;
    }

    thead th:nth-child(1) {
        width: 35%;
    }

    thead th:nth-child(2) {
        width: 21%;
    }

    thead th:nth-child(3) {
        width: 21%;
    }

    thead th:nth-child(4) {
        width: 23%;
    }

    th,
    td {
        padding: 10px;
    }
}


/* Picks Table CSS Starts */
.table-container {
    display: flex;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.table-fixed-left {
    border-right: 1px solid #dcdddf;
    text-align: left;
    width: 100px;
    min-width: 100px;
}

.table-custom-header {
    border-bottom: 1px solid #dcdddf;
    border-top: 1px solid #dcdddf;
    color: #8d8d8d;
    font-weight: 600;
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 0;
}

.table-left-header {
    border-bottom: 1px solid #dcdddf;
    border-top: 1px solid #dcdddf;
    color: #8d8d8d;
    font-weight: 600;
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 4px 4px 12px;
}

.table-left-td {
    padding: 4px 4px 4px 12px;
    height: 98px;
}

.table-scroll-wrap {
    width: 100%;
    max-width: 1300px;
    position: relative;
    overflow: hidden;
}

.table-control-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.table-scroll {
    table-layout: auto;
}

.table-scroll-tr td:nth-of-type(11),
.table-scroll-tr th:nth-of-type(11) {
    border-left: 7px solid #b7b7b7;
}

.table-scroll .cell {
    padding: 4px 15px;
}

.cell div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    height: 98px;
}

.cell div span {
    text-transform: capitalize;
}

.cell-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.cell img {
    width: 30px;
    margin: 5px 0;
}

.win {
    background-color: #87b972;
}

.lg-win {
    background-color: #a5ca95;
}

.md-win {
    background-color: #c3dcb8;
}

.sm-win {
    background-color: #e1eddb;
}

.sm-loss {
    background-color: #f5dee3;
}

.md-loss {
    background-color: #ecbdc7;
}

.lg-loss {
    background-color: #e29dab;
}

.loss {
    background-color: #d97c8f;
}

/* Picks Table CSS Ends */